<html>
	<head>
		<title> Rock Paper Scissors </title>
		<link rel='stylesheet' href='/css/foundation.css' type='text/css'>
		<link rel='stylesheet' href='/css/css.css' type='text/css'>
	</head>
	<body>
		<div class="row">
			<div class="five columns centered"">
				<h3>You played <%= @player_throw %> and The computer played <%= @computer_throw %> </h3>
			</div>
		</div>
		<div class="row">
			<div align="center" class="eight columns centered" >
				<img  src= /images/<%= @player_throw %>.png> 
				<img  src= /images/versus.png width= "50" height="50">
				<img  src= /images/<%= @computer_throw %>.png>  
			</div>
		</div>
		<div class="row">
			<div align="center" class="three columns centered" >
				<p><a id = "boton" href="/">play again</a></p>
			</div>
		</div>
		<div class="row">
			<div align="center" class="eight columns centered" id = "Answer" >
				<h1> <%= @answer %></h1>
			</div>
		</div>
	</body>
	</html>
