<table align="center" width="600">
<tr>
  <td>
    <h2> PC: <%= @computer_throw %><a href="/"><img src= <%= @images_computer %>/></a> </h2>
  </td>

  <td>
     <h2> You: <%= @player_throw %><a href="/"><img src= <%= @images_player %>/></a> </h2>
  </td>
</tr>

<tr>
<td colspan="2">
  <h2> <a href="/"><img src= <%= @images %>/></a></h2>
   <h2> <%= @answer %> </h2>
</td>
</tr>
</table>
