<div id="imagen1" style="top:25px; width:70%;">
  <h2> Computer chooses:  <%= @computer_throw %> </h2> 
  <h2> <img src= <%= @images_computer %>/> </h2>
</div>

<div id="imagen2" style="top:25px; width:70%;">
   <h2> You choose: <%= @player_throw %> </h2>
   <h2> <img src= <%= @images_player %>/> </h2>
</div>

<div id="imagen3" style="top:25px; width:70%;">
   <h1> <%= @answer %> </h1>
    <h2> <img src= <%= @images %>/> </h2>
</div>
