<table align="center" width="600">
<tr>
  <td>
    <h2> Computer: <%= @computer_throw %><a href="/"><img src= <%= @images_computer %>/></a> </h2>
  </td>

  <td>
     <h2> You: <%= @player_throw %><a href="/"><img src= <%= @images_player %>/></a> </h2>
  </td>
</tr>

<tr>
<td align="center">
  <h2>Resultado  <a href="/"><img src= <%= @images %>/></a><%=@answer %></h2>
 
</td>

</tr>
</table>
